/*
    1. Overall Design
    2. Admin Sidebar
    3. Admin Content
*/

/* 1. Overall Design Begins */

body{
    background-color: #f9f9f9 !important;
}

    .shadowed-content{
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }

    .wide-box{
        max-width: 1040px;
        margin: 0px auto;
    }

    .admin-wrapper{
        overflow: hidden;
        padding: 2rem;
        background-color: #ffffff;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

/* Overall Design Ends */


/* 2. Admin Sidebar Begins */

    .admin-sidebar-wrapper{
        width: 20%;
        float: left;
        margin-left: 0px;
        
    }

    .admin-sidebar-wrapper ul{
        list-style: none;
        margin: 0px !important;
        padding: 0px !important;
    }    

    .admin-sidebar-wrapper ul li{
        line-height: 30px;
    }    

        .admin-sidebar-wrapper ul li svg{
            width: 20px !important;
            margin-right: 0.5rem;
        }    

    .admin-sidebar-wrapper ul a{
        color: #2a2a2a;
    }

        .admin-sidebar-wrapper ul a:hover{
            text-decoration: none;
            color: #EF5411 !important;
        }    

        .admin-sidebar-wrapper ul li ul{
            margin-left: calc(20px + 0.5rem) !important;
        }

    .admin-content-wrapper{
        width: 80%;
        float: left;
        margin-left: 0px;
    }

/* Admin Sidebar Ends */

/* 3. Admin Content Starts */

    .admin-data-table{
        width: 100% !important;
    }

    .admin-control-th, .admin-control-td{
        width: 100px !important;
        text-align: center;
    }

/* Admin Content Ends */

/* Admin Settings  */

.admin-toggle-item{
    width: 100%;
    height: 36px;
}    

    .admin-toggle-item .admin-toggle-switch-wrapper{
        width: 50px;
        float: left;
    }    

    .admin-toggle-item .admin-toggle-label{
        width: calc(100% - 50px);
        float: left;
        padding-left: 1rem;
    }    

        .admin-toggle-item .admin-toggle-label .fa-check-circle{
            color: green;
        }

    .admin-toggle-item .admin-toggle-label span{
        float: left;
    }

    .admin-toggle-item .alert-icon{
        float: left;
        margin-left: 1rem;
    }        

    .admin-toggle-item-wrapper{
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #e5e5e5;
    }

.admin-settings-wrapper h1{
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
}    