/*
    1. Overall Design
    2. Search filter
    3. Property layout
    4. Single property
    5. Header style
    6. Home design
*/

/* 1. Overall design starts */

body{
    background-color: #f9f9f9 !important;
    font-family: 'Open Sans', sans-serif !important;
}

    .boxed-content{
        width: 600px;
        margin: 0px auto;
        padding: 1rem;
        background-color: #ffffff;
    }

    .rounded-border{
        border-radius: 0.5rem;
    }

    .shadowed-content{
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }

.main-content-wrapper{
    float: left;
    width: 100%;
}

/* 2. Search filter starts */

.filter-close-menu{
    display: none;
}

.filter-canvas-wrapper {
    background-color: #f5f5f5 !important;
    border-color: #e5e5e5 !important;
}

.filter-canvas-wrapper {
    float: left;
    width: 320px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 24px;
    z-index: 10000;
}

    .filter-wrapper *{
        box-sizing: border-box;
    }

    .filter-wrapper .filter-inner-wrapper{
        width: 100%;
    }

    .filter-wrapper .filter-wrapper-unit{
        float: left;
        width: 100%;
        margin-bottom: 12px;
        font-size: 13px;
        clear: both;
    }

    .filter-wrapper .filter-wrapper-unit-scrollable{
        overflow: auto;
        overflow-x: hidden;
    }

    .filter-wrapper .filter-wrapper-selection{
        background-color: #FFFFFF;
        padding: 3px 12px;
        border: 1px solid #e5e5e5;
        max-height: 80px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 12px;
        line-height: 2.5 !important;
    }

    .filter-wrapper .child-locations{
        margin-top: 12px;
    }

    .filter-wrapper .filter-wrapper-unit .menu-icon{
        float: right;
        line-height: 26px;
    }


    .filter-wrapper .filter-label-wrapper{
        float: left;
        width: 100%;
    }

    .filter-wrapper .filter-label-wrapper label{
        font-weight: bold;
        font-size: 13px;
        float: left;
    }

    .filter-wrapper .filter-label-range{
        font-size: 13px;
        display: block;
        float: left;
        clear: both;
        line-height: 1.2;
    }

    .filter-wrapper .filter-col-left{
        float: left;
        width: 50%;
        padding: 0px 6px 0px 0px;
    }

    .filter-wrapper .filter-col-right{
        float: left;
        width: 50%;
        padding: 0px 0px 0px 6px;
    }

    .filter-wrapper .filter-input{
        position: relative;
        width: 100%;
        height: 36px;
    }

    .filter-wrapper .value-wrapper{
        line-height: 36px;
        font-size: 12px;
        padding: 0px 12px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left:0px;
        border: 1px solid #e5e5e5;
        background-color: #FFFFFF;

        cursor: pointer;
        overflow: hidden;
    }

    .filter-wrapper .value-wrapper svg{
        margin-right: 6px;
    }

    .filter-wrapper .value-wrapper .default-label{
        display: inline-block;
    }

    .filter-wrapper .value-wrapper .custom-label{
        display: none;
    }

    .filter-wrapper .filter-input .arrow-icon-wrapper{
        position: absolute;
        right: 0px;
        text-align: center;
        line-height: 36px;
        height: 36px;
        width: 36px;
    }

    .filter-wrapper .filter-input .dropdown-content{
        background-color: #FFFFFF;
        border: 1px solid #e5e5e5;
        position: absolute;
        top: 48px;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        min-height: 96px;
        z-index: 1000;
        overflow: hidden !important;
    }

    .filter-wrapper .filter-input:hover .dropdown-content{
        top: 34px;
        visibility: visible;
        opacity: 1;
        overflow: auto !important;
    }

    .filter-wrapper .filter-input .dropdown-content.orderby-dropdown{
        display: none;
    }

    .filter-wrapper .filter-input:hover .dropdown-content.orderby-dropdown{
        display: block;
    }

    .filter-wrapper .filter-location-input:hover .dropdown-content{
        top: 0px !important;
    }

        .filter-switcher-multiple.active .fa-square,
        .filter-switcher.active .fa-square{
            display: none;
        }

        .filter-switcher-multiple.active .fa-check-square,
        .filter-switcher.active .fa-check-square{
            display: inline-block;
        }

        .filter-switcher-multiple .fa-check-square,
        .filter-switcher .fa-check-square{
            display: none;
        }

        .filter-switcher-multiple .fa-square,
        .filter-switcher .fa-square{
            display: inline-block;
        }

        

    .filter-wrapper .filter-input-wrapper{
        float: left;
        margin-left: 0px;
        width: 100%;
        padding: 9px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #fafafa;
    }

    .filter-wrapper .filter-input-wrapper input{
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 6px;
        font-size: 12px;
        margin: 0px;
    }

    .filter-wrapper .filter-content-wrapper{
        font-size: 12px;
        padding: 12px 12px 6px 12px;
        float: left;
        max-height: 150px;
        overflow: auto;
        width: 100%;
    }

    .child-location-wrapper{
        width: 100%;
        float: left;
        clear: both;
    }

        .child-location-wrapper .filter-wrapper-unit{
            margin-top: 1rem;
        }

    .filter-wrapper .filter-content-wrapper-multiple{
        padding: 0px !important;
        overflow: hidden;
    }

    .multiplea-all-label{
        font-size: 12px;
    }

    .filter-wrapper .filter-content-wrapper ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
    }

    .filter-wrapper .filter-content-wrapper ul li{
        cursor: pointer;
        margin: 0px;
    }

    .filter-wrapper .filter-content-wrapper.filter-wrapper-unit-scrollable ul li{
        cursor: pointer;
        float: left;
        width: 50%;
        list-style: none;
        margin: 0px;
    }

    .estate_number_of_bathrooms{
        width: 100% !important;
        line-height: 2.5;
    }

    .filter-wrapper .filter-content-wrapper ul li.estate_number_of_rooms{
        float: left;
        width: 25%;
    }

    .filter-wrapper .filter-content-wrapper ul li.child-list-item{
        margin-left: 12px;
    }

    

    .filter-wrapper .filter-content-title{
        font-weight: bold;
        float: left;
        margin-left: 0px;
        width: 100%;
        line-height: 13px;
    }

    .filter-wrapper .filter-content-content{
        float: left;
        margin-left: 0px;
        width: 100%;
    }

    .filter-wrapper .filter-value{
        width: 100% !important;
        border: 1px solid #e5e5e5 !important;
        height: 35px !important;
        padding: 11px !important;
        margin: 0px;
    }

    .filter-wrapper-extra-padding{
        margin-top: 12px;
    }

    .top-filter-wrapper{
        float: left;
        width: 100% !important;
        margin-bottom: 24px;
        padding: 24px;
        background-color: #f5f5f5 !important;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .top-filter-wrapper .filter-cell{
        float: left; margin-left: 0px; width: 33%; padding: 0px 6px;
    }

    .top-filter-wrapper .filter-wrapper-extra-padding{
        margin-top: 0px !important;
    }

    .noUi-horizontal .noUi-handle {
        width: 24px !important;
        height: 24px !important;
        border-radius: 12px;
        top: -9px !important;
    }

    .noUi-horizontal .noUi-handle:before {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #78C0A8 !important;
        color: #FFFFFF !important;
        left: 5px;
        top: 5px;
    }

    .noUi-horizontal .noUi-handle {
        width: 24px !important;
        height: 24px !important;
        border-radius: 12px;
        top: -9px !important;
    }

    .noUi-target {
        border-radius: 4px;
        border: 1px solid #D3D3D3;
        box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    }

    .noUi-target {
        width: calc(100% - 18px);
        height: 8px !important;
        top: 6px !important;
        margin: 6px 0px 6px 12px;
    }

    .noUi-base {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

/* Property Template */

.property-results-loading{
    display: none;
}

.property-results-loading svg{
    margin-right: 0.5rem;
}

.property-list-wrapper{
    width: calc(100% - 320px);
    min-height: 1540px;
    float: left;
    margin-left: 0px;
    padding-left: 24px;
}

.property-list{
    width: 100%;
}

.property-list .property-list-item{
    margin-bottom: 24px;
    float: left;

    min-height: 345px;
    height: auto;
}

    .property-list .property-list-item.row-1{
        width: 100%;
    }

    .property-list .property-list-item.row-2{
        width: 48%;
        width: calc(50% - 12px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-2:nth-child(2n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-2:nth-child(2n + 2){
        margin-right: 0px;
    }

    .property-list .property-list-item.row-3{
        width: 32%;
        width: calc(33.3% - 16px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-3:nth-child(3n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-3:nth-child(3n + 3){
        margin-right: 0px;
    }


    .property-list .property-list-item.row-4{
        width: 24%;
        width: calc(25% - 18px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-4:nth-child(4n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-4:nth-child(4n + 4){
        margin-right: 0px;
    }


    .property-list .property-list-item.row-5{
        width: 20%;
        width: calc(20% - 19.2px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-5:nth-child(5n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-5:nth-child(5n + 5){
        margin-right: 0px;
    }


.property-list .featured-image-wrapper{
    background-color: #e5e5e5;
}

.property-list .property-list-item img{
    display: block;
    width: 100%;
    min-height: 179px;
    margin: 0px;
}

    .property-list .property-details {
        background-color: #FFFFFF;
        width: 100%;
        min-height: 125px;
        float: left;
        margin-left: 0px;
        padding: 12px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .property-list .property-details h4{
        line-height: 1rem;
        margin-bottom: 0.5rem;
    }

    .property-list .property-details h4 a{
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .property-list .property-details p{
        margin: 0px !important;
        padding: 0px !important;
    }

    .property-list .address{
        font-size: 13px;
        line-height: 1.7;
        margin-bottom: 0.5rem;
    }

    .property-list .property-bottom{
        position: relative;
        width: 100%;

        float: left;
        clear: both;
        font-size: 12px;
        line-height: 1;
        color: #000000;
        background-color: #E9E9E9;
    }

    .property-list .info {
        float: left;
        margin-left: 0px;
        width: 100%;
        font-size: 13px;
        color: #999;
    }

        .property-list .info .info-label{
            margin-left: 0.2rem;
        }  

    .property-list .property-bottom {
        position: relative;
        width: 100%;
        float: left;
        clear: both;
        font-size: 12px;
        line-height: 1;
        color: #000000;
        background-color: #E9E9E9;
    }

        .property-list .property-location {
            float: left;
            line-height: 36px;
            padding-left: 12px;
        }

        .property-list .property-price {
            float: right;
            right: 0px;
            height: 100%;
            background-color: #3299BB;
            border: 1px solid #3299BB;
            color: #FFFFFF;
            padding: 12px;
            font-weight: 600;
        }

        .property-list .estimated-date {
            float: right;
            right: 0px;
            height: 100%;
            background-color: #3299BB;
            border: 1px solid #3299BB;
            color: #FFFFFF;
            padding: 12px;
            font-weight: 600;
        }

        .property-list .property-price .currency{
            margin-right: 0.1rem;
        }    

#estate-map-content{
    display: none;
}

.top-filter{
    float: left;
    width: 100%;
    margin-bottom: 9px;
}

    .top-filter .header-handler{
        float: left;
        line-height: 36px;
        font-size: 13px;
    }
        
        .header-handler span{
            text-transform: uppercase;
            font-weight: bold;
        }      
        
    .top-filter .map-handler-wrapper{
        float: right;
        width: auto;
        min-width: 100px;
        margin-left: 12px;
        color: #FFFFFF;
        line-height: 1;
    }    

        .top-filter .map-handler{
            cursor: pointer;
            padding: 12px;
            font-size: 12px;
            background-color: #78C0A8;
            color: #FFFFFF;
            width: 100%;
            height: 100%;
            font-weight: 600;
        }

    .top-filter .order-filter-wrapper{
        float: right;
        width: 200px;
        margin-left: 12px;
        max-height: 200px;
    }    

    .property-list .no-image{
        width: 100%;
        height: 180px;
        background-color: #e5e5e5;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
        font-size: 12px;
    }


/* 4. Single Property */    

.estate-infocard{
    margin: 24px 0px 0px 0px;
    font-size: 13px;
    width: 100%;
    float: left;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 12px;
}

    .estate-infocard-cell{
        width: 50%;
        float: left;
        margin-left: 0px;
        height: 35px;
        box-sizing: border-box;
        line-height: 24px;
    }

    .estate-infocard-row-left{
        display: inline-block;
        text-align: left;
        font-weight: bold;
        padding: 6px;
    }

    .estate-infocard-row-right{
        display: inline-block;
        text-align: right;
        padding: 6px;
        float: right;
    }

    .estate-info-wrapper {
        float: left;
        margin-top: 24px;
        width: 100%;
    }

    .estate-info-wrapper .estate-header {
        float: left;
        width: 100%;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }

    .estate-info-wrapper .estate-header .svg-wrapper{
        display: inline-block;
        margin-right: 9px;
        height: 36px;
        width: 36px;
        line-height: 36px;
        color: #FFFFFF;
        text-align: center;
        border-radius: 18px;
        background-color: #3299BB;
        font-weight: bold;
    }

    .estate-info-wrapper .estate-header .svg-wrapper svg.details-icon {
        color: #FFFFFF;
    }

.estate-main-slider img{
    width: 100%;
}    

.property-title-wrapper {
    float: left;
    width: 100%;
}

    .property-title-wrapper h1{
        font-size: 30px;
        line-height: 1.25;
        text-transform: none;
        margin: 0px !important;
        padding: 0px !important;
    }

    .property-address-wrapper {
        line-height: 1.5;
        margin-bottom: 12px;
        color: #5a5a5a;
        font-size: 13px;
    }

    .property-address-wrapper svg{
        margin-right: 6px;
    }

ul.estate-main-slider{
    list-style: none;
}    

/* 5. Header Styling */

.header-wrapper{
    height: 3.3rem;
    background-color: #ffffff;
    color: #2a2a2a;
    float: left;
    width: 100%;

    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

.header-boxed{
    max-width: 1200px;
    margin: 0px auto;
}

.header-left-side-wrapper{
    height: 3.3rem;
    float: left;
}

.header-right-side-wrapper{
    height: 3.3rem;
    float: right;
}

    .header-right-side-wrapper .artifex-search-input-canvas{
        margin-top: 14.5px;
    }    

    .header-logo-wrapper{
        height: 100%;
        float: right;
    }

    .header-menu-wrapper{
        font-size: 14px;
        text-transform: uppercase;
        z-index: 20000 !important;
        color: #333333;
        width: auto;
        line-height: 3.3rem !important;
    }

        .header-menu-wrapper *{
            z-index: 20000 !important;
        }

    .header-menu-wrapper .menu{
        margin: 0px auto;
        float: right;
    }

    .header-menu-wrapper .menu > li{
        margin-right: 36px;
        text-align: left;
        font-size: 12px;
    }


    .header-menu-wrapper .menu > li:last-of-type{
        margin-right: 0px !important;
    }

    .header-menu-wrapper .sub-menu{
        padding: 0px;
        background-color: #ffffff;
        color: #333333;

        -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }

    .header-menu-wrapper a{
        font-size: 12px;
        text-decoration: none !important;
        color: #333333;
        letter-spacing: 0.3px !important;
    }

    .header-menu-wrapper ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    .header-menu-wrapper ul li ul a{
        font-size: 12px;
    }

    .header-menu-wrapper ul li{
        position: relative;
        top: 0px;
        left: 0px;
        float: left;
        width: auto;
    }

    .header-menu-wrapper ul.sub-menu li{
        margin-left: 0px;
    }

    .header-menu-wrapper li ul li{
        width: 150px;
        color: #2f2f2f;
        font-size: inherit;
        cursor: pointer;
        padding: 6px 18px;
        line-height: 30px;
    }

        .header-menu-wrapper li ul li{
            border-top: 1px solid rgba(255, 211, 78, 0.2);
            color: #e5e5e5 !important;
        }

            .header-menu-wrapper li ul li:first-of-type{
                border-top: none !important;
            }

        .header-menu-wrapper li:hover ul li{
            color: #FFFFFF;
        }

        .header-menu-wrapper li ul li:last-child{
            padding-bottom: 12px;
        }

    .header-menu-wrapper ul  li.menu-item-has-children > a:after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107";
        margin-left: 6px;
        float: right;
        line-height: 3.3rem;
    }

    .header-menu-wrapper ul li ul li.menu-item-has-children > a:after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        float: right;
        margin-top: 0px !important;
        line-height: 30px;
    }

    .header-menu-wrapper ul li a:before{
        content : "";
    }

    .header-menu-wrapper ul.sub-menu{
        visibility: hidden;
        position: absolute;
    }

    .header-menu-wrapper .menu-item-has-children > .sub-menu{
        top: 100%;
        top: calc(100% + 12px);
        opacity: 0;

        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
    }

    .header-menu-wrapper .menu-item-has-children:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        top: 100%;
        left: -12px;
        line-height: 20px;
        z-index: 1001;
    }

    .header-menu-wrapper .menu-item-has-children:last-of-type:hover > .sub-menu:before{
        border-width: 0 12px 12px 12px !important;
        border-color: transparent transparent #ffffff transparent;
        right: 0px !important;
    }

    .header-menu-wrapper .menu-item-has-children .menu-item-has-children .sub-menu{
        top: 0px !important;
        left: 100% !important;
        left: calc(100% + 12px) !important;

        opacity: 0;
        border: none;

        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
    }

    .header-menu-wrapper .menu-item-has-children:hover .menu-item-has-children:hover .sub-menu{
        top: 0px !important;
        left: 100% !important;
        opacity: 1;
    }

    .header-menu-wrapper .menu-item-has-children:hover .menu-item-has-children:hover .sub-menu:before{
        border: none;
        content: "" !important;
    }

.header-logo-wrapper{
    min-width: 120px;
    height: 100%;
    display: table;
    margin-right: 1rem;
}    

    .header-logo-wrapper a{
        display: table-cell;
        vertical-align: middle;
    }    

    .header-logo-wrapper img{
        display: flex;
        justify-content: center;
        max-height: 100%;
    }

.header-upload-button{
    height: 100%;
    display: table;
    float: left;
    margin-left: 0px;
}    

    .header-upload-button-inner-wrapper{
        display: table-cell;
        vertical-align: middle;
    }    

    .header-upload-button-inner-wrapper a{
        text-transform: uppercase;
        font-size: 13px;
        border: 2px solid #3b5998;
        padding: 0.4rem 1rem;
        border-radius: 6px;
        color: #3b5998 !important;
        text-decoration: none !important;
    }

    .header-upload-button-inner-wrapper a svg{
       margin-right: 0.3rem;
       color: #3b5998;
    }    

.header-authentication{
    float: left;
    margin-left: 0px;
    height: 100% !important;
    display: table;
}

    .header-authentication ul{
        list-style: none;
        height: 100% !important;
    }

    .header-authentication ul li{
        float: left;
        margin-left: 0.5rem;
        line-height: 3.3rem;
    }

    .header-authentication ul li a{
        color: #2a2a2a;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
    }        

.header-top-wrapper{
    background-color: #2a2a2a;
    color: #FFFFFF;
    line-height: 2rem;
    float: left;
    width: 100% !important;
}    

    .header-top-wrapper-inner{
        max-width: 1200px;
        margin: 0px auto;
    }    

    .header-top-wrapper a{
        color: #FFFFFF;
    }    

    .header-top-wrapper .header-social-media ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        float: left;
        margin-left: 0px;
    }        

        .header-top-wrapper .header-social-media li{
            float: left;
            margin-right: 0.5rem;
        }    

        .header-top-wrapper .header-social-media li a{
            color: #FFFFFF;
            text-decoration: none;
            margin-right: 0.5rem;
        }     

        .header-top-wrapper .header-info-email{
            float: left;
            margin-left: 0.5rem;
            font-size: 13px;
        }

        .header-top-wrapper .header-info-email a{
            text-decoration: none;
            color: #FFFFFF;
        }    

/* 6. Home Design */        

.latest-list-header{
    width: 100%;
    float: left;
    margin-left: 0px;
    font-size: 15px !important;
    line-height: 30px !important;
    font-size: 0.9rem !important;
    line-height: 3rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

    .latest-list-header .latest-list-title{
        float: left;
        margin-left: 0px;
        width: 50%;
        text-align: left;
    }

    .latest-list-header .latest-list-search{
        float: left;
        margin-left: 0px;
        width: 50%;
        text-align: right;
    }

    .latest-list-header .latest-list-search svg{
        margin-right: 0.3rem;
    }    