/*
    1. Overall Design
    2. Search filter
*/

/* 1. Overall design starts */

body{
    background-color: #f9f9f9 !important;
}

    .boxed-content{
        width: 600px;
        margin: 0px auto;
        padding: 1rem;
        background-color: #ffffff;
    }

    .rounded-border{
        border-radius: 0.5rem;
    }

    .shadowed-content{
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }

/* 2. Search filter starts */

.qual-filter-canvas-wrapper {
    background-color: #f5f5f5 !important;
    border-color: #e5e5e5 !important;
}

.qual-filter-canvas-wrapper {
    float: left;
    width: 320px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 24px;
    z-index: 10000;
}

    .qual-filter-wrapper *{
        box-sizing: border-box;
    }

    .qual-filter-wrapper .qual-filter-inner-wrapper{
        width: 100%;
    }

    .qual-filter-wrapper .qual-filter-wrapper-unit{
        float: left;
        width: 100%;
        margin-bottom: 12px;
        font-size: 13px;
        clear: both;
    }

    .qual-filter-wrapper .qual-filter-wrapper-unit-scrollable{
        overflow: auto;
        overflow-x: hidden;
    }

    .qual-filter-wrapper .qual-filter-wrapper-unit-bathroom{
        background-color: #FFFFFF;
        padding: 3px 12px;
        border: 1px solid #e5e5e5;
        max-height: 80px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 12px;
    }

    .qual-filter-wrapper .qual-child-locations{
        margin-top: 12px;
    }

    .qual-filter-wrapper .qual-filter-wrapper-unit .qual-menu-icon{
        float: right;
        line-height: 26px;
    }


    .qual-filter-wrapper .filter-label-wrapper{
        float: left;
        width: 100%;
    }

    .qual-filter-wrapper .filter-label-wrapper label{
        font-weight: bold;
        font-size: 13px;
        float: left;
    }

    .qual-filter-wrapper .filter-label-range{
        font-size: 13px;
        display: block;
        float: left;
        clear: both;
        line-height: 1.2;
    }

    .qual-filter-wrapper .filter-col-left{
        float: left;
        width: 50%;
        padding: 0px 6px 0px 0px;
    }

    .qual-filter-wrapper .filter-col-right{
        float: left;
        width: 50%;
        padding: 0px 0px 0px 6px;
    }

    .qual-filter-wrapper .filter-input{
        position: relative;
        width: 100%;
        height: 36px;
    }

    .qual-filter-wrapper .value-wrapper{
        line-height: 36px;
        font-size: 12px;
        padding: 0px 12px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left:0px;
        border: 1px solid #e5e5e5;
        background-color: #FFFFFF;

        cursor: pointer;
        overflow: hidden;
    }

    .qual-filter-wrapper .value-wrapper i{
        margin-right: 6px;
    }

    .qual-filter-wrapper .value-wrapper .default-label{
        display: inline-block;
    }

    .qual-filter-wrapper .value-wrapper .custom-label{
        display: none;
    }

    .qual-filter-wrapper .filter-input .arrow-icon-wrapper{
        position: absolute;
        right: 0px;
        text-align: center;
        line-height: 36px;
        height: 36px;
        width: 36px;
    }

    .qual-filter-wrapper .filter-input .dropdown-content{
        background-color: #FFFFFF;
        border: 1px solid #e5e5e5;
        position: absolute;
        top: 48px;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        min-height: 96px;
        z-index: 1000;
        overflow: hidden !important;
    }

    .qual-filter-wrapper .filter-input:hover .dropdown-content{
        top: 34px;
        visibility: visible;
        opacity: 1;
        overflow: auto !important;
    }

    .qual-filter-wrapper .filter-input .dropdown-content.qual-orderby-dropdown{
        display: none;
    }

    .qual-filter-wrapper .filter-input:hover .dropdown-content.qual-orderby-dropdown{
        display: block;
    }

    .qual-filter-wrapper .filter-location-input:hover .dropdown-content{
        top: 0px !important;
    }

    .qual-filter-wrapper .filter-input-wrapper{
        float: left;
        margin-left: 0px;
        width: 100%;
        padding: 9px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #fafafa;
    }

    .qual-filter-wrapper .filter-input-wrapper input{
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 6px;
        font-size: 12px;
        margin: 0px;
    }

    .qual-filter-wrapper .filter-content-wrapper{
        font-size: 12px;
        padding: 12px 12px 6px 12px;
        float: left;
        max-height: 150px;
        overflow: auto;
        width: 100%;
    }

    .qual-child-location-wrapper{
        width: 100%;
        float: left;
        clear: both;
    }

    .qual-filter-wrapper .filter-content-wrapper-multiple{
        padding: 0px !important;
        overflow: hidden;
    }

    .qual-multiplea-all-label{
        font-size: 12px;
    }

    .qual-filter-wrapper .filter-content-wrapper ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
    }

    .qual-filter-wrapper .filter-content-wrapper ul li{
        cursor: pointer;
        margin: 0px;
    }

    .qual-filter-wrapper .filter-content-wrapper.qual-filter-wrapper-unit-scrollable ul li{
        cursor: pointer;
        float: left;
        width: 50%;
        list-style: none;
        margin: 0px;
    }

    .qual_number_of_bathrooms{
        width: 100% !important;
        line-height: 2.5;
    }

    .qual-filter-wrapper .filter-content-wrapper ul li.qual_number_of_rooms{
        float: left;
        width: 25%;
    }

    .qual-filter-wrapper .filter-content-wrapper ul li.child-list-item{
        margin-left: 12px;
    }

    .qual-filter-wrapper .filter-content-wrapper ul li:before{
        font-family: "FontAwesome";
        content: "\f096" !important;
        margin-right: 6px;
        font-size: 14px;
    }

    .qual-filter-wrapper .filter-content-wrapper ul li.active:before{
        font-family: "FontAwesome";
        content: "\f046" !important;
    }

    .qual-filter-wrapper .filter-content-title{
        font-weight: bold;
        float: left;
        margin-left: 0px;
        width: 100%;
        line-height: 13px;
    }

    .qual-filter-wrapper .filter-content-content{
        float: left;
        margin-left: 0px;
        width: 100%;
    }

    .qual-filter-wrapper .qual-filter-value{
        width: 100% !important;
        border: 1px solid #e5e5e5 !important;
        height: 35px !important;
        padding: 11px !important;
        margin: 0px;
    }

    .qual-filter-wrapper-extra-padding{
        margin-top: 12px;
    }

    .qual-top-filter-wrapper{
        float: left;
        width: 100% !important;
        margin-bottom: 24px;
        padding: 24px;
        background-color: #f5f5f5 !important;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .qual-top-filter-wrapper .qual-filter-cell{
        float: left; margin-left: 0px; width: 33%; padding: 0px 6px;
    }

    .qual-top-filter-wrapper .qual-filter-wrapper-extra-padding{
        margin-top: 0px !important;
    }