/*
    1. Overall Design
    2. Search filter
    3. Property layout
*/

/* 1. Overall design starts */

body{
    background-color: #f9f9f9 !important;
}

    .boxed-content{
        width: 600px;
        margin: 0px auto;
        padding: 1rem;
        background-color: #ffffff;
    }

    .rounded-border{
        border-radius: 0.5rem;
    }

    .shadowed-content{
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }

/* 2. Search filter starts */

.filter-canvas-wrapper {
    background-color: #f5f5f5 !important;
    border-color: #e5e5e5 !important;
}

.filter-canvas-wrapper {
    float: left;
    width: 320px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 24px;
    z-index: 10000;
}

    .filter-wrapper *{
        box-sizing: border-box;
    }

    .filter-wrapper .filter-inner-wrapper{
        width: 100%;
    }

    .filter-wrapper .filter-wrapper-unit{
        float: left;
        width: 100%;
        margin-bottom: 12px;
        font-size: 13px;
        clear: both;
    }

    .filter-wrapper .filter-wrapper-unit-scrollable{
        overflow: auto;
        overflow-x: hidden;
    }

    .filter-wrapper .filter-wrapper-unit-bathroom{
        background-color: #FFFFFF;
        padding: 3px 12px;
        border: 1px solid #e5e5e5;
        max-height: 80px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 12px;
    }

    .filter-wrapper .child-locations{
        margin-top: 12px;
    }

    .filter-wrapper .filter-wrapper-unit .menu-icon{
        float: right;
        line-height: 26px;
    }


    .filter-wrapper .filter-label-wrapper{
        float: left;
        width: 100%;
    }

    .filter-wrapper .filter-label-wrapper label{
        font-weight: bold;
        font-size: 13px;
        float: left;
    }

    .filter-wrapper .filter-label-range{
        font-size: 13px;
        display: block;
        float: left;
        clear: both;
        line-height: 1.2;
    }

    .filter-wrapper .filter-col-left{
        float: left;
        width: 50%;
        padding: 0px 6px 0px 0px;
    }

    .filter-wrapper .filter-col-right{
        float: left;
        width: 50%;
        padding: 0px 0px 0px 6px;
    }

    .filter-wrapper .filter-input{
        position: relative;
        width: 100%;
        height: 36px;
    }

    .filter-wrapper .value-wrapper{
        line-height: 36px;
        font-size: 12px;
        padding: 0px 12px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left:0px;
        border: 1px solid #e5e5e5;
        background-color: #FFFFFF;

        cursor: pointer;
        overflow: hidden;
    }

    .filter-wrapper .value-wrapper i{
        margin-right: 6px;
    }

    .filter-wrapper .value-wrapper .default-label{
        display: inline-block;
    }

    .filter-wrapper .value-wrapper .custom-label{
        display: none;
    }

    .filter-wrapper .filter-input .arrow-icon-wrapper{
        position: absolute;
        right: 0px;
        text-align: center;
        line-height: 36px;
        height: 36px;
        width: 36px;
    }

    .filter-wrapper .filter-input .dropdown-content{
        background-color: #FFFFFF;
        border: 1px solid #e5e5e5;
        position: absolute;
        top: 48px;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        min-height: 96px;
        z-index: 1000;
        overflow: hidden !important;
    }

    .filter-wrapper .filter-input:hover .dropdown-content{
        top: 34px;
        visibility: visible;
        opacity: 1;
        overflow: auto !important;
    }

    .filter-wrapper .filter-input .dropdown-content.orderby-dropdown{
        display: none;
    }

    .filter-wrapper .filter-input:hover .dropdown-content.orderby-dropdown{
        display: block;
    }

    .filter-wrapper .filter-location-input:hover .dropdown-content{
        top: 0px !important;
    }

    .filter-wrapper .filter-input-wrapper{
        float: left;
        margin-left: 0px;
        width: 100%;
        padding: 9px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #fafafa;
    }

    .filter-wrapper .filter-input-wrapper input{
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 6px;
        font-size: 12px;
        margin: 0px;
    }

    .filter-wrapper .filter-content-wrapper{
        font-size: 12px;
        padding: 12px 12px 6px 12px;
        float: left;
        max-height: 150px;
        overflow: auto;
        width: 100%;
    }

    .child-location-wrapper{
        width: 100%;
        float: left;
        clear: both;
    }

    .filter-wrapper .filter-content-wrapper-multiple{
        padding: 0px !important;
        overflow: hidden;
    }

    .multiplea-all-label{
        font-size: 12px;
    }

    .filter-wrapper .filter-content-wrapper ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
    }

    .filter-wrapper .filter-content-wrapper ul li{
        cursor: pointer;
        margin: 0px;
    }

    .filter-wrapper .filter-content-wrapper.filter-wrapper-unit-scrollable ul li{
        cursor: pointer;
        float: left;
        width: 50%;
        list-style: none;
        margin: 0px;
    }

    .qual_number_of_bathrooms{
        width: 100% !important;
        line-height: 2.5;
    }

    .filter-wrapper .filter-content-wrapper ul li.qual_number_of_rooms{
        float: left;
        width: 25%;
    }

    .filter-wrapper .filter-content-wrapper ul li.child-list-item{
        margin-left: 12px;
    }

    .filter-wrapper .filter-content-wrapper ul li:before{
        font-family: "FontAwesome";
        content: "\f096" !important;
        margin-right: 6px;
        font-size: 14px;
    }

    .filter-wrapper .filter-content-wrapper ul li.active:before{
        font-family: "FontAwesome";
        content: "\f046" !important;
    }

    .filter-wrapper .filter-content-title{
        font-weight: bold;
        float: left;
        margin-left: 0px;
        width: 100%;
        line-height: 13px;
    }

    .filter-wrapper .filter-content-content{
        float: left;
        margin-left: 0px;
        width: 100%;
    }

    .filter-wrapper .filter-value{
        width: 100% !important;
        border: 1px solid #e5e5e5 !important;
        height: 35px !important;
        padding: 11px !important;
        margin: 0px;
    }

    .filter-wrapper-extra-padding{
        margin-top: 12px;
    }

    .top-filter-wrapper{
        float: left;
        width: 100% !important;
        margin-bottom: 24px;
        padding: 24px;
        background-color: #f5f5f5 !important;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .top-filter-wrapper .filter-cell{
        float: left; margin-left: 0px; width: 33%; padding: 0px 6px;
    }

    .top-filter-wrapper .filter-wrapper-extra-padding{
        margin-top: 0px !important;
    }

/* Property Template */

.property-list{
    width: calc(100% - 320px);
    float: left;
    margin-left: 0px;
}

.property-list .property-list-item{
    margin-bottom: 24px;
    float: left;

    min-height: 345px;
    height: auto;
}

    .property-list .property-list-item.row-1{
        width: 100%;
    }

    .property-list .property-list-item.row-2{
        width: 48%;
        width: calc(50% - 12px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-2:nth-child(2n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-2:nth-child(2n + 2){
        margin-right: 0px;
    }

    .property-list .property-list-item.row-3{
        width: 32%;
        width: calc(33.3% - 16px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-3:nth-child(3n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-3:nth-child(3n + 3){
        margin-right: 0px;
    }


    .property-list .property-list-item.row-4{
        width: 24%;
        width: calc(25% - 18px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-4:nth-child(4n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-4:nth-child(4n + 4){
        margin-right: 0px;
    }


    .property-list .property-list-item.row-5{
        width: 20%;
        width: calc(20% - 19.2px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .property-list .property-list-item.row-5:nth-child(5n + 1){
        margin-left: 0px;
    }

    .property-list .property-list-item.row-5:nth-child(5n + 5){
        margin-right: 0px;
    }


.property-list .featured-image-wrapper{
    background-color: #e5e5e5;
}

.property-list .property-list-item img{
    display: block;
    width: 100%;
    min-height: 179px;
    margin: 0px;
}

    .property-list .property-details {
        background-color: #FFFFFF;
        width: 100%;
        min-height: 125px;
        float: left;
        margin-left: 0px;
        padding: 12px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .property-list .property-details h4{
        margin: 0px;
    }

    .property-list .property-details h4 a{
        color: #000000;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .property-list .property-details p{
        margin: 0px !important;
        padding: 0px !important;
    }

    .property-list .address{
        font-size: 13px;
        line-height: 1.7;
    }

    .property-list .property-bottom{
        position: relative;
        width: 100%;

        float: left;
        clear: both;
        font-size: 12px;
        line-height: 1;
        color: #000000;
        background-color: #E9E9E9;
    }

    .property-list .info {
        float: left;
        margin-left: 0px;
        width: 100%;
        font-size: 13px;
        color: #999;
    }

    .property-list .property-bottom {
        position: relative;
        width: 100%;
        float: left;
        clear: both;
        font-size: 12px;
        line-height: 1;
        color: #000000;
        background-color: #E9E9E9;
    }

        .property-list .property-location {
            float: left;
            line-height: 36px;
            padding-left: 12px;
        }

        .property-list .property-price {
            float: right;
            right: 0px;
            height: 100%;
            background-color: #3299BB;
            border: 1px solid #3299BB;
            color: #FFFFFF;
            padding: 12px;
            font-weight: 600;
        }